---

---

<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Psicóloga Daniella Zichtl</title>
	</head>

	<body class="lg:bg-[#eeeee6]">
		<div
			class="bg-[url('public/bg.jpeg')] md:bg-contain lg:bg-contain h-screen w-auto bg-no-repeat flex items-center justify-end lg:justify-center"
		>
			<div
				class="font-serif flex-row text-right text-[#b7b38c] pr-5 lg:pr-0 mb-40"
			>
				<h1
					class="duration-[1500ms] fade-in opacity-0 transition-opacity delay-[800ms] ease-out text-xl lg:text-3xl font-bold pb-4"
				>
					Psicóloga | Psicanalista
				</h1>
				<div
					class="duration-[1500ms] fade-in2 opacity-0 transition-opacity delay-[2000ms] ease-out"
				>
					<h1 class="text-2xl lg:text-5xl pb-0">
						Daniella Zichtl Pichetti
					</h1>
					<span class="text-sm lg:text-xl">CRP 12 / 23405</span>
				</div>
			</div>
			<a
				href="#info"
				class="duration-1000 fade-in3 opacity-0 transition-opacity delay-[4000ms] ease-out animate-bounce drop-shadow-xl absolute inset-x-0 bottom-10 flex items-center justify-center"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 20 20"
					stroke-width="1.5"
					stroke="#BEBA97"
					class="w-14 h-14"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
				</svg>
			</a>
		</div>
		<div id="info" class="h-screen bg-[#BEBA97]">
			<div
				class="font-serif flex-row mx-auto max-w-4xl space-y-12 divide-y-2 divide-[#a9a67d] text-[#5A5738] pl-10 pr-10 pt-20"
			>
				<div>
					<h2 class="text-xl lg:text-3xl font-bold pb-2">
						Modalidades
					</h2>
					<ul class="lg:text-2xl text-lg">
						<li class="list-disc">Acompanhamento terapêutico</li>
						<li class="list-disc">
							Atendimento clínico nas modalidades presencial e
							remota
						</li>
					</ul>
				</div>
				<div>
					<h2 class="text-xl lg:text-3xl font-bold pb-2 pt-8">
						Contato
					</h2>
					<p class="lg:text-2xl text-lg">48 9 9989-4723</p>
				</div>
				<div class="">
					<h2 class="text-xl lg:text-3xl font-bold pb-2 pt-8">
						Endereço
					</h2>
					<p class="lg:text-2xl text-lg leading-5">
						Rua Lauro Linhares, 2055<br />
						 Edifício Max & Flora<br />
						 Torre Flora, Sala 302<br />
						 Florianópolis / SC
					</p>
				</div>
			</div>
			<div class="">
				<div class="flex justify-center my-40 lg:my-48">
					<button
						class="relative mx-4 fill-white bg-[#639C2A] w-16 h-16 md:w-14 md:h-14 lg:w-20 lg:h-20 md:opacity-75 rounded-full drop-shadow-lg flex justify-center items-center hover:bg-green-600 hover:opacity-100 hover:drop-shadow-2xl duration-300"
						id="whatsAppButton"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="36"
							height="36"
							viewBox="0 0 24 24"
						>
							<path
								d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
							></path>
						</svg>
					</button>
					<button
						class="relative mx-4 fill-white bg-[#389494] w-16 h-16 md:w-14 md:h-14 lg:w-20 lg:h-20 md:opacity-75 rounded-full drop-shadow-lg flex justify-center items-center hover:bg-cyan-600 hover:opacity-100 hover:drop-shadow-2xl duration-300"
						id="mapsAppButton"
					>
						<svg
							width="36"
							height="36"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"
							></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<script>
			const whatsAppButton = document.getElementById(
				"yourWhatsAppButtonId",
			);
			const mapsAppButton = document.getElementById(
				"yourMapsAppButtonId",
			);

			function whatsAppClick() {
				const message = encodeURIComponent(
					"Olá, Daniella, cheguei ao seu contato através do seu site.",
				);
				const phoneNumber = "5548999894723";
				const url = `https://wa.me/${phoneNumber}?text=${message}`;
				window.open(url, "_blank");
			}

			function mapsAppClick() {
				const url = `https://www.google.com.br/maps/search/Rua+Lauro+Linhares,+2055+Edif%C3%ADcio+Max+%26+Flora+Torre+Flora+Sala+302+Florian%C3%B3polis+%2F+SC/@-27.5962282,-48.5228131,17z/data=!3m1!4b1?entry=ttu`;
				window.open(url, "_blank");
			}

			document.addEventListener("DOMContentLoaded", function () {
				var fadeElement = document.querySelector(".fade-in");
				var fadeElement2 = document.querySelector(".fade-in2");
				var fadeElement3 = document.querySelector(".fade-in3");

				if (fadeElement) {
					fadeElement.classList.add("opacity-100");
				}

				if (fadeElement2) {
					fadeElement2.classList.add("opacity-100");
				}

				if (fadeElement3) {
					fadeElement3.classList.add("opacity-100");
				}
			});

			if (whatsAppButton) {
				whatsAppButton.addEventListener("click", whatsAppClick);
			}

			if (mapsAppButton) {
				mapsAppButton.addEventListener("click", mapsAppClick);
			}
		</script>
	</body>
</html>
